@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

.container {
  min-height: 100vh;
  background: linear-gradient(to right, #26eded, #a67ff0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-content {
  background-color: #f5f5f5;
  padding: 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-subtext {
  background: #a67ff0;
  padding: 5px 8px;
  color: #f5f5f5;
  border-radius: 20px;
  display: inline;
}

.card-title {
  font-weight: bold;
  color: #1a1a1a;
  font-size: 24px;
  margin-top: 10px;
}

.card-text {
  color: #778899;
  margin-top: 10px;
  font-size: 15px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.profile-title {
  font-weight: bold;
  font-size: 15px;
  color: #1a1a1a;
}

.profile-text {
  color: #778899;
  font-size: 12px;
  margin-top: 3px;
}
